$width-container: 1440px;
$width-content: 1050px;

/************************/

$color-background: #FFFFFFD0;

$color-blue: #489AFF;
$color-blue-darken: darken(rgba($color-blue, 1), 25%);
$color-gradientfun: linear-gradient(to right, #9570EE, #FF4F72, #FFC359);
$color-hardline: #C3D0DF;
$color-header: #405063;
$color-line: #DBDBDB;
$color-page: #FFFFFF;
$color-progress: #B2BBC8;
$color-softline: #E3E8EF;
$color-text-alternative: #C4CCD6;
$color-text: #818D9C;

$color-progress-background: #283C54;
$color-progress-purple: #C78FF9;
$color-progress-orange: #FFC35A;

/************************/

$font-family: Roboto,
"Helvetica Neue",
Arial,
sans-serif;
$font-h2: 30px;
$font-text: 300 15px $font-family;
$font-list: 300 14px $font-family;

$font-main: 15px;
$font-footer: 13px;

/************************/

$time-anim: 0.25s;

/************************/

body {
  font: $font-h2;
  font-family: $font-family;
  font-size: $font-main;
  background-color: $color-page;
  color: $color-text;
}

// .container {
// max-width: $width-container;
// background: url("image/Picture_Splash.svg") right top no-repeat;
// }

// @media (max-width: 767.98px) {
// .container {
// background-size: cover;
// }
// }

.mc-header {
  background-color: $color-page;
}

.mc-header-content {
  max-width: $width-content;
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-light .navbar-nav .nav-link {

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-header;
  }
}

.mc-menu a {
  color: $color-header;
  border-bottom: 1px solid transparent;
  transition: border $time-anim;
}

.mc-menu a:hover {
  border-bottom-color: $color-header;
}

.mc-footer {
  border-top: 1px solid $color-line;
}

.mc-footer-content {
  max-width: $width-content;
  font-size: $font-footer;
  padding-top: 19px;
  padding-bottom: 19px;
}

.mc-link {
  color: $color-blue;
}

.mc-task {
  max-width: 870px;
  border-top: 1px solid $color-softline;
  border-bottom: 1px solid $color-softline;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

.mc-task__first {
  font: $font-text;
  line-height: 19px;
  color: $color-text;
  padding: 27px 0;
}

.mc-task__item {
  min-height: 75px;
}

.mc-task__text {
  font: $font-list;
  color: $color-header;
  line-height: 16px;
  margin-top: 10px;
  display: block;
}

.mc-skills {
  max-width: $width-content;
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/************************/
/************************/
/************************/
/************************/
/************************/

@mixin mc-background($image-url, $x-align, $min-height) {
  background: $image-url center center no-repeat;
  min-height: $min-height;

  @media (min-width: 768px) {
    background: $image-url $x-align center no-repeat;
  }
}

.mc-background-vacancy {
  @include mc-background(url("image/Picture_People.svg"), right, 382px);
}

.mc-background-process {
  @include mc-background(url("image/Picture_Code.png"), left, 279px);
}

/************************/

.mc-info {
  background-color: $color-background;
  border-radius: 5px;
  padding: 15px;

  &__header {
    color: $color-header;
    font: 400 36px $font-family;
  }

  &__paragraph {
    color: $color-text;
    font: 300 15px $font-family;
    line-height: 19px;
  }

  &__paragraph_strong {
    color: $color-header;
    font-weight: 400;
  }

  &__list {
    font: 300 14px $font-family;
    line-height: 26px;
    list-style: none;
    padding-left: 16px;
    color: $color-header;

    & li::before {
      content: "\2022";
      color: $color-blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

/************************/

.mc-button {
  background-color: $color-blue;
  border-radius: 22px;
  font: 500 14px $font-family;
  padding: 13px 30px;
  text-transform: uppercase;
  transition: background-color $time-anim, color $time-anim;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-page;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-blue-darken;
  }
}

// .mc-description {}