$width-container: 1440px;
$width-content: 1050px;

/************************/

$color-background: #FFFFFFD0;

$color-blue: #489AFF;
$color-blue-darken: darken(rgba($color-blue, 1), 25%);
$color-hardline: #C3D0DF;
$color-header: #405063;
$color-line: #DBDBDB;
$color-white: #FFFFFF;
$color-softline: #E3E8EF;
$color-text: #818D9C;
$color-text-alternative: #C4CCD6;

$color-progress: #B2BBC8;
$color-progress-background: #283C54;
$color-progress-purple: #C78FF9;
$color-progress-orange: #FFC35A;
$color-progress-gradientfun: linear-gradient(to right, #9570EE, #FF4F72, #FFC359);

/************************/

$font-family: Roboto,
"Helvetica Neue",
Arial,
sans-serif;

/************************/

$time-anim: 0.25s;

/************************/

body {
  background-color: $color-white;
}

.container {
  max-width: $width-container;
  background: url("image/Picture_Splash.svg") right top no-repeat;
}

.mc-background-header {
  background-color: $color-white;
}

.mc-header {
  max-width: $width-content;
  padding-top: 19px;
  padding-bottom: 19px;
}

.mc-menu {

  &__item {
    border-bottom: 1px solid transparent;
    color: $color-header !important;
    font: 400 15px / 19px $font-family;
    transition: border $time-anim;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-header;
    }

    &:hover {
      border-bottom-color: $color-header;
    }
  }
}

@mixin mc-background($image-url, $x-align, $min-height) {
  max-width: $width-content;
  background: $image-url center center no-repeat;
  min-height: $min-height;

  @media (min-width: 768px) {
    background: $image-url $x-align center no-repeat;
  }
}

.mc-background-vacancy {
  @include mc-background(url("image/Picture_People.svg"), right, 382px);
}

.mc-background-process {
  @include mc-background(url("image/Picture_Code.png"), left, 279px);
}

.mc-info {
  background-color: $color-background;
  border-radius: 5px;
  padding: 15px;

  &_task {
    max-width: 870px;
    border-radius: 0;
    border-top: 1px solid $color-softline;
    border-bottom: 1px solid $color-softline;
    // margin-top: 50px;
    // margin-bottom: 50px;
    padding-bottom: 25px;
  }

  &__header {
    color: $color-header;
    font: 400 36px $font-family;
  }

  &__paragraph {
    color: $color-text;
    font: 300 15px / 19px $font-family;
  }

  &__paragraph_strong {
    color: $color-header;
    font-weight: 400;
  }

  &__list {
    font: 300 14px / 26px $font-family;
    list-style: none;
    padding-left: 16px;
    color: $color-header;

    & li::before {
      content: "\2022";
      color: $color-blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.mc-button {
  background-color: $color-blue;
  border-radius: 22px;
  font: 500 14px $font-family;
  padding: 13px 30px;
  text-transform: uppercase;
  transition: background-color $time-anim, color $time-anim;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-white;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-blue-darken;
  }
}

.mc-footer {
  max-width: $width-content;
  border-top: 1px solid $color-line;
  color: $color-text;
  font: 400 13px / 19px $font-family;
  padding-bottom: 19px;
  padding-top: 19px;
}

.mc-link {
  color: $color-blue;
}

.mc-description {

  &__paragraph {
    font: 300 14px / 16px $font-family;
    color: $color-header;
  }
}

.mc-background-skills {
  max-width: $width-content;
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}