/************************/
/************************/
/************************/
/************************/
body {
  font: 30px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  background-color: #FFFFFF;
  color: #818D9C; }

.container {
  max-width: 1440px;
  background: url("image/Picture_Splash.svg") right top no-repeat; }

@media (max-width: 767.98px) {
  .container {
    background-size: cover; } }

.mc-header {
  background-color: #FFFFFF; }

.mc-header-content {
  max-width: 1050px;
  padding-top: 19px;
  padding-bottom: 19px; }

.navbar {
  padding-left: 0;
  padding-right: 0; }

.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: #405063; }

.mc-menu a {
  color: #405063;
  border-bottom: 1px solid transparent;
  transition: border 0.25s; }

.mc-menu a:hover {
  border-bottom-color: #405063; }

.mc-header-content__button,
.mc-process-content__button {
  background-color: #489AFF;
  border-radius: 22px;
  border: 2px solid #489AFF;
  font-size: 14px;
  font-weight: 500;
  height: 43px;
  line-height: 39px;
  text-align: center;
  transition: background-color 0.25s, color 0.25s; }
  .mc-header-content__button:link, .mc-header-content__button:visited, .mc-header-content__button:hover, .mc-header-content__button:active,
  .mc-process-content__button:link,
  .mc-process-content__button:visited,
  .mc-process-content__button:hover,
  .mc-process-content__button:active {
    color: #FFFFFF;
    text-decoration: none; }
  .mc-header-content__button:hover,
  .mc-process-content__button:hover {
    background-color: #FFFFFF;
    color: #489AFF; }

.mc-header-content__button {
  max-width: 144px;
  width: 144px;
  display: block; }

.mc-process-content__button {
  display: inline;
  padding: 11px 28px; }

.mc-vacancy {
  overflow: hidden; }

.mc-vacancy-content {
  max-width: 1050px;
  background: url("image/Picture_People.svg") right center no-repeat;
  padding-top: 44px;
  padding-bottom: 44px; }

@media (max-width: 575.98px) {
  .mc-vacancy-content {
    background-size: contain; } }

@media (max-width: 991.98px) {
  .mc-vacancy-text {
    background-color: #FFFFFFD0;
    border-radius: 5px;
    padding: 15px; } }

.mc-footer {
  border-top: 1px solid #DBDBDB; }

.mc-footer-content {
  max-width: 1050px;
  font-size: 13px;
  padding-top: 19px;
  padding-bottom: 19px; }

.color-blue {
  color: #489AFF; }

.mc-h1 {
  font: 400 36px Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-top: 11px;
  margin-bottom: 11px; }

.mc-color-header {
  color: #405063; }

.mc-main {
  margin-bottom: 0; }

.mc-text {
  font: 300 15px Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 19px;
  color: #818D9C;
  margin-bottom: 19px; }

.mc-list {
  font: 300 14px Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 26px;
  list-style: none;
  margin-top: 4px;
  padding-left: 16px; }

.mc-list li::before {
  content: "\2022";
  color: #489AFF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.mc-link {
  color: #489AFF; }

.mc-task {
  max-width: 870px;
  border-top: 1px solid #E3E8EF;
  border-bottom: 1px solid #E3E8EF;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 25px; }

.mc-task__first {
  font: 300 15px Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 19px;
  color: #818D9C;
  padding: 27px 0; }

.mc-task__item {
  min-height: 75px; }

.mc-task__text {
  font: 300 14px Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #405063;
  line-height: 16px;
  margin-top: 10px;
  display: block; }

.mc-process {
  margin-top: 95px;
  margin-bottom: 95px; }

.mc-process-content {
  max-width: 1050px;
  background: url("image/Picture_Code.png") 62px center no-repeat;
  min-height: 279px; }
  @media (max-width: 575.98px) {
    .mc-process-content {
      background-position-x: center; } }

@media (max-width: 991.98px) {
  .mc-process-text {
    background-color: #FFFFFFD0;
    border-radius: 5px;
    padding: 15px; } }
