/************************/
/************************/
/************************/
/************************/
body {
  font: 30px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  background-color: #FFFFFF;
  color: #818D9C; }

.mc-header {
  background-color: #FFFFFF; }

.mc-header-content {
  max-width: 1050px;
  padding-top: 19px;
  padding-bottom: 19px; }

.navbar {
  padding-left: 0;
  padding-right: 0; }

.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: #405063; }

.mc-menu a {
  color: #405063;
  border-bottom: 1px solid transparent;
  transition: border 0.25s; }

.mc-menu a:hover {
  border-bottom-color: #405063; }

.mc-footer {
  border-top: 1px solid #DBDBDB; }

.mc-footer-content {
  max-width: 1050px;
  font-size: 13px;
  padding-top: 19px;
  padding-bottom: 19px; }

.mc-link {
  color: #489AFF; }

.mc-task {
  max-width: 870px;
  border-top: 1px solid #E3E8EF;
  border-bottom: 1px solid #E3E8EF;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 25px; }

.mc-task__first {
  font: 300 15px Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 19px;
  color: #818D9C;
  padding: 27px 0; }

.mc-task__item {
  min-height: 75px; }

.mc-task__text {
  font: 300 14px Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #405063;
  line-height: 16px;
  margin-top: 10px;
  display: block; }

.mc-skills {
  max-width: 1050px;
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px; }

/************************/
/************************/
/************************/
/************************/
/************************/
.mc-background-vacancy {
  background: url("image/Picture_People.svg") center center no-repeat;
  min-height: 382px; }
  @media (min-width: 768px) {
    .mc-background-vacancy {
      background: url("image/Picture_People.svg") right center no-repeat; } }

.mc-background-process {
  background: url("image/Picture_Code.png") center center no-repeat;
  min-height: 279px; }
  @media (min-width: 768px) {
    .mc-background-process {
      background: url("image/Picture_Code.png") left center no-repeat; } }

/************************/
.mc-info {
  background-color: #FFFFFFD0;
  border-radius: 5px;
  padding: 15px; }
  .mc-info__header {
    color: #405063;
    font: 400 36px Roboto, "Helvetica Neue", Arial, sans-serif; }
  .mc-info__paragraph {
    color: #818D9C;
    font: 300 15px Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 19px; }
  .mc-info__paragraph_strong {
    color: #405063;
    font-weight: 400; }
  .mc-info__list {
    font: 300 14px Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 26px;
    list-style: none;
    padding-left: 16px;
    color: #405063; }
    .mc-info__list li::before {
      content: "\2022";
      color: #489AFF;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }

/************************/
.mc-button {
  background-color: #489AFF;
  border-radius: 22px;
  font: 500 14px Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 13px 30px;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s; }
  .mc-button:link, .mc-button:visited, .mc-button:hover, .mc-button:active {
    color: #FFFFFF;
    text-decoration: none; }
  .mc-button:hover {
    background-color: #0059c8; }
