$width-container: 1440px;
$width-content: 1050px;

/************************/

$color-background: #FFFFFFD0;
$color-background: rgba(255, 255, 255, 0.8);

$color-blue: #489AFF;
$color-blue-darken: darken(rgba($color-blue, 1), 25%);

$color-red: #D45D5E;
$color-darkblue: #518DD5;
$color-orange: #E98D4B;
$color-violet: #9F548C;
$color-almostblack: #292929;
$color-grey: #97938F;

$color-hardline: #C3D0DF;
$color-header: #405063;
$color-line: #DBDBDB;
$color-white: #FFFFFF;
$color-softline: #E3E8EF;
$color-text: #818D9C;
$color-text-alternative: #C4CCD6;

$color-progress: #B2BBC8;
$color-progress-background: #283C54;
$color-progress-purple: #C78FF9;
$color-progress-orange: #FFC35A;

/************************/

$font-family: Roboto,
"Helvetica Neue",
Arial,
sans-serif;

/************************/

$time-anim: 0.25s;

/************************/

body {
  background-color: $color-white;
}

p {
  margin-bottom: 0.5rem;
}

.container {
  background: url("image/Picture_Splash.svg") right top no-repeat;

  @media (min-width: 1200px) {
    max-width: $width-container;
  }
}

.mc-background-header {
  background-color: $color-white;
}

.mc-header {
  max-width: $width-content;
  padding-top: 19px;
  padding-bottom: 19px;
}

.mc-menu {
  &__item {
    border-bottom: 1px solid transparent;
    color: $color-header !important;
    font: 400 15px / 19px $font-family;
    transition: border $time-anim;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-header;
    }

    &:hover {
      border-bottom-color: $color-header;
    }
  }
}

@mixin mc-background($image-url, $x-align, $min-height) {
  max-width: $width-content;
  background: $image-url center center no-repeat;
  min-height: $min-height;

  @media (min-width: 768px) {
    background: $image-url $x-align center no-repeat;
  }
}

.mc-background-vacancy {
  @include mc-background(url("image/Picture_People.svg"), right, 382px);
}

.mc-background-process {
  @include mc-background(url("image/Picture_Code.png"), left, 279px);
  margin-top: 95px;
  margin-bottom: 95px;
}

.mc-info {
  background-color: $color-background;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  &_task {
    max-width: 870px;
    border-radius: 0;
    border-top: 1px solid $color-softline;
    border-bottom: 1px solid $color-softline;
    padding-top: 27px;
    padding-bottom: 17px;
  }

  &_skills {
    padding: 0;
  }

  &__header {
    color: $color-header;
    font: 400 36px $font-family;
  }

  &__header_less {
    font: 400 30px $font-family;
  }

  &__paragraph {
    color: $color-text;
    font: 300 15px / 19px $font-family;
    margin-bottom: 0;

    &_strong {
      color: $color-header;
      font-weight: 400;
      margin-top: 20px;
    }

    &_alternative {
      color: $color-text-alternative;
    }
  }

  &__list {
    font: 300 14px / 26px $font-family;
    list-style: none;
    padding-left: 16px;
    color: $color-header;
    margin-top: 6px;

    & li::before {
      content: "\2022";
      color: $color-blue;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.mc-button {
  display: inline-block;
  background-color: $color-blue;
  border-radius: 21.5px;
  font: 500 14px $font-family;
  padding: 13px 30px;
  text-transform: uppercase;
  transition: background-color $time-anim, color $time-anim;

  &_paragraph {
    margin-top: 15px;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-white;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-blue-darken;
  }
}

.mc-footer {
  border-top: 1px solid $color-line;
  color: $color-text;
  font: 400 13px / 19px $font-family;
  margin-top: 153px;
  max-width: $width-content;
  padding-bottom: 19px;
  padding-top: 19px;
}

.mc-link {
  color: $color-blue;
}

.mc-description {
  margin-top: 29px;

  &__paragraph {
    font: 300 14px / 16px $font-family;
    color: $color-header;
  }
}

.mc-background-skills {
  max-width: $width-content;
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;

  @media (min-width: 768px) {
    padding: 15px 45px;
  }
}

.mc-slider {
  $w: 16px;
  $h: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

  &__range {
    -webkit-appearance: none;
    appearance: none;
    background: #23364C linear-gradient(to right, #9570EE, #FF4F72, #FFC359) no-repeat;
    background-size: 75%;
    border-radius: 3px;
    height: 6px;
    outline: none;
    width: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: $color-white;
      border-radius: 50%;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      width: $w;
      height: $h;
    }

    &::-moz-range-thumb {
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      border: none;
    }

    &[value="1"]::-webkit-slider-thumb {
      margin-left: -$w/2 + 1;
    }

    &[value="5"]::-webkit-slider-thumb {
      margin-left: $w/2 - 1;
    }
  }

  &__rangepoint {
    font: 300 15px / 19px $font-family;
    color: $color-white;
    margin-top: 15px;
    text-align: center;
    flex-basis: 5%;
  }

  &__rangepoint:nth-of-type(1) {
    flex-grow: 1;
    text-align: left;
  }

  &__rangepoint:nth-of-type(2) {
    flex-grow: 2;

    @media (min-width: 576px) {
      transform: translateX(-2px);
    }

    @media (min-width: 768px) {
      transform: translateX(-4px);
    }

    @media (min-width: 992px) {
      transform: translateX(-7px);
    }

    @media (min-width: 1200px) {
      transform: translateX(-8px);
    }
  }

  &__rangepoint:nth-of-type(3) {
    flex-grow: 2;
  }

  &__rangepoint:nth-of-type(4) {
    flex-grow: 2;

    @media (min-width: 576px) {
      transform: translateX(2px);
    }

    @media (min-width: 768px) {
      transform: translateX(4px);
    }

    @media (min-width: 992px) {
      transform: translateX(7px);
    }

    @media (min-width: 1200px) {
      transform: translateX(8px);
    }
  }

  &__rangepoint:nth-of-type(5) {
    flex-grow: 1;
    text-align: right;
  }

  &__rangepoint::before {
    opacity: 0.5;
    background-color: $color-white;
    border-radius: 1.5px;
    content: "";
    display: block;
    height: 3px;
    width: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  &__rangepoint_active {
    font-weight: 400;
  }

  &__rangepoint_active::before {
    opacity: 1;
  }

  &__rangepoint:first-of-type::before {
    margin-left: 0;
  }

  &__rangepoint:last-of-type::before {
    margin-right: 0;
  }
}

.mc-indicator-container {
  height: auto;
  max-width: 120px;
  padding: 15px 0;
  width: 100%;
}

.mc-plan {
  border-radius: 5px;
  border: 1px solid #D7E1EC;
  max-width: $width-content;
  overflow-x: auto;
  margin-top: 13px;
  margin-bottom: 84px;
}

.mc-table {
  border-radius: 5px;
  color: $color-header;
  font: 400 15px / 19px $font-family;
  min-width: 768px;
  width: 100%;
}

.mc-table th,
.mc-table td {
  border: 1px solid $color-softline;
  padding: 17px 19px 14px;
}

.mc-table thead tr:first-of-type th {
  border-top: none;
}

.mc-table tbody tr:last-of-type td {
  border-bottom: none;
}

.mc-table thead tr th:first-of-type,
.mc-table tbody tr td:first-of-type {
  border-left: none;
}

.mc-table thead tr th:last-of-type,
.mc-table tbody tr td:last-of-type {
  border-right: none;
}

.mc-table thead tr th:not(:nth-child(1)),
.mc-table tbody tr td:not(:nth-child(1)) {
  text-align: center;
  width: 23%;
}

.mc-table thead tr th:not(:nth-child(1)) {
  vertical-align: bottom;
}

.mc-table thead tr th:nth-child(2),
.mc-table tbody tr td:nth-child(2) {
  background: #F2F8FF;
}

.mc-table thead tr th:nth-child(3),
.mc-table tbody tr td:nth-child(3) {
  background: #F7F4FF;
}

.mc-table thead tr th:nth-child(4),
.mc-table tbody tr td:nth-child(4) {
  background: #FFF1F8;
}

.mc-hardline {
  color: $color-hardline;
}

.mc-planinfo {

  &__header {
    color: $color-header;
    font: 400 20px / 28px $font-family;
    margin-bottom: 6px;
  }

  &__text {
    color: $color-text;
    font: 300 13px / 16px $font-family;
  }
}

.mc-banner {
  margin-top: 90px;
  max-width: 617px;

  &__logo {
    margin-bottom: 13px;
  }

  &__header {
    color: $color-header;
    font: 400 30px $font-family;
    margin-bottom: 13px;
  }

  &__text {
    color: $color-text;
    font: 300 15px / 19px $font-family;
    margin-bottom: 12px;
  }

  &__link {
    color: $color-blue;
    font: 400 22px $font-family;
  }
}

.mc-background-goods {
  background: url("image/Picture_Goods.png") left center no-repeat;
  margin-top: 21px;
  min-height: 504px;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mc-goodscard {
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  height: 398px;
  margin-right: 30px;
  min-width: 240px;
  overflow: hidden;
  position: relative;

  &__like {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 11px;
  }

  &__addtocard {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.mc-goods-description {

  &__image {
    $height: 152px;

    line-height: $height;
    min-height: $height;
    text-align: center;

    & img {
      vertical-align: bottom;
    }
  }

  &__header {
    $height: 33px;

    border-left: 3px solid #51BCF8;
    color: $color-header;
    font: 400 20px $font-family;
    line-height: $height;
    margin-bottom: 7px;
    margin-top: 28px;
    min-height: $height;
    padding-left: 17px;
  }

  &__text {
    color: $color-text;
    font: 300 13px / 17px $font-family;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mc-goods-price {
  color: $color-header;
  font: 400 20px $font-family;
  margin-left: 18px;
  margin-top: 25px;

  &__oldprice {
    color: $color-text;
    font: 300 14px $font-family;
    margin-left: 14px;
    text-decoration: line-through;
  }
}

.mc-goods-color {
  align-items: center;
  color: $color-header;
  display: flex;
  font: 400 15px $font-family;
  margin-left: 19px;
  margin-top: 24px;

  &__caption {
    margin-right: 7px;
  }

  &__item {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 12px;

    &.mc-active::before {
      border-radius: 50%;
      border: 1px solid #CDCDCD;
      content: "";
      display: block;
      height: 24px;
      left: -50%;
      position: absolute;
      top: -50%;
      width: 24px;
    }
  }
}

.mc-bg-red {
  background-color: $color-red;
}

.mc-bg-darkblue {
  background-color: $color-darkblue;
}

.mc-bg-orange {
  background-color: $color-orange;
}

.mc-bg-violet {
  background-color: $color-violet;
}

.mc-bg-almostblack {
  background-color: $color-almostblack;
}

.mc-bg-grey {
  background-color: $color-grey;
}

.mc-goodsnavigation {
  align-items: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;

  @media (min-width: 768px) {
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 126px;
    margin-top: 111px;
  }

  @media (min-width: 992px) {
    margin-left: 224px;
  }

  &__next,
  &__prev {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.35);
    text-align: center;

    $height: 42px;

    height: $height;
    line-height: 36px;
    width: $height;

    @media (min-width: 768px) {
      $height: 62px;

      height: $height;
      line-height: 56px;
      width: $height;
    }
  }

  &__prev {
    @media (min-width: 768px) {
      margin-top: 21px;
    }
  }

  &__page {
    color: $color-white;
    font: 400 42px $font-family;
    margin-bottom: 0;

    @media (min-width: 768px) {
      font: 400 72px $font-family;
      margin-top: 106px;
    }
  }

  &__pagecount {
    color: #47678B;
    font: 400 42px $font-family;
    font: 400 0.5833em $font-family;
    margin-left: 10px;
  }
}

.mc-goodsslider {
  display: flex;
  min-width: 290px;
  overflow-x: scroll;

  @media (min-width: 768px) {
    min-width: auto;
  }
}