doctype html
head
  include markup/head.pug
  title Landing

.container
  include markup/header.pug

  #idVacancy.row.mx-auto.align-items-center.no-gutters.mc-background-vacancy
    .col-12.col-md-6
      .mc-info
        p
          img(src="image/Icon_Hand.png" alt="Hand" width="40" height="40")
        h1.mc-info__header Привет!
        p.mc-info__paragraph
          | Группа компаний Freematiq и MITRA ищет себе клевого верстальщика. На постоянную
          | работу
          | в офисе или периодическую работу по удаленке. Хотим предложить тебе вместо скучных тестовых заданий –
          | сверстать эту страницу.
        p.mc-info__paragraph.mc-info__paragraph_strong В своей работе мы используем:
        ul.mc-info__list
          li HTML5, CSS3
          li Bootstrap 4
          li Jade, Pug
          li Less, SCSS
          li Иконочные шрифты
          li SVG иллюстрации
        p.mc-info__paragraph Не ограничиваем этими технологиями, верстай как удобно.
  .row.mx-auto.justify-content-center.align-items-end.no-gutters.mc-info.mc-info_task
    .col-11.col-md-9.text-center.mc-info__paragraph
      | Это твое первое задание в нашей компании. Если оно покажется тебе интересным и его реализация нам понравится –
      | добро пожаловать в команду.
    .w-100
    .col-12.col-sm-4.col-lg-3.text-center.mr-lg-n3.mc-description
      p
        img(src="image/Icon_Screen.svg" alt="Screen" width="47" height="33")
      p.mc-description__paragraph
        | Первый блок на 
        br.d-none.d-sm-inline
        | всю высоту экрана
    .col-12.col-sm-4.col-lg-3.text-center.ml-lg-n3.mc-description
      p
        img(src="image/Icon_Devices.svg" alt="Devices" width="52" height="40")
      p.mc-description__paragraph
        | Отзывчивая 
        br.d-none.d-sm-inline
        | верстка
  .row.mx-auto.justify-content-md-end.align-items-center.no-gutters.mc-background-process
    .col-12.col-md-6
      .mc-info
        p
          img(src="image/Icon_Rocket.png" alt="Rocket" width="40" height="40")
        h1.mc-info__header Как ускорить процесс
        p.mc-info__paragraph
          | Чтобы иметь доступ ко всем функциям и возможностям Figma, которые облегчат и
          | ускорят
          | процесс верстки, зарегистрируйся и залогинься в системе.
        p
          a.mc-button.mc-button_paragraph(href="#") ЗАРЕГИСТРИРОВАТЬСЯ
  .row.mx-auto.no-gutters.justify-content-center.align-items-center.mc-background-skills
    .col-12.col-lg-8
      .bg-transparent.rounded-0.mc-info.mc-info_skills
        p
          img(src="image/Icon_Stars.png" alt="Stars" width="40" height="40")
        h1.text-white.mc-info__header.mc-info__header_less Оцени себя
        p.mc-info__paragraph.mc-info__paragraph_alternative
          | Попробуй максимально объективно и честно оценить
          | свои знания верстки по
          | следующей шкале. И да, её тоже нужно сверстать.
    .col-6.col-lg-2.text-center.text-lg-right
      object.mc-indicator-container(data-title="12" data-description="Лет" data-color="#C78FF9" data-angle="270" data="image/InteractiveElement_Radial.svg" type="image/svg+xml")
    .col-6.col-lg-2.text-center.text-lg-right
      object.mc-indicator-container(data-title="269" data-description="Проектов" data-color="#FFC35A" data-angle="210" data="image/InteractiveElement_Radial.svg" type="image/svg+xml")
    .col-12
      #idRange.mc-slider
        input.mc-slider__range(type="range" min="1" max="5" value="4")
        .mc-slider__rangepoint Intern
        .mc-slider__rangepoint Junior
        .mc-slider__rangepoint Middle
        .mc-slider__rangepoint.mc-slider__rangepoint_active Senior
        .mc-slider__rangepoint Lead
  .row
    .col
      .mx-auto.text-center.mc-banner
        p.mc-banner__logo
          img(src="image/Icon_Hands.png" alt="" width="40" height="40")
        p.mc-banner__header Сверстаешь такой слайдер?
        p.mc-banner__text
          | Это не так сложно, на самом деле. Сложнее придумать как он будет адаптироваться.
          | Различные модные эффекты так же будут оценены по достоинству.
  .row.no-gutters.align-content-around.align-content-md-stretch.mc-background-goods
    .col.align-items-center.mc-goodsslider
      .mc-goodscard
        img.mc-goodscard__like(src="image/Icon_Goods_LikeYes.svg" alt="Like" width="20" height="20")
        img.mc-goodscard__addtocard(src="image/Icon_Goods_AddToCard.svg" alt="Add" width="50" height="50")
        .mc-goods-description
          p.mc-goods-description__image
            img(src="image/Goods_Shoes_1.png" alt="Shoes" width="195" height="108")
          h5.mc-goods-description__header New Balance 840 90s
          p.mc-goods-description__text
            | 840 90s Running объединили в себе спортивную эстетику и необходимый
            | в городском ритме комфорт.
        .mc-goods-price
          | 10 990 ₽
          span.mc-goods-price__oldprice 12 990 ₽
        .mc-goods-color
          span.mc-goods-color__caption Цвет:
          a.mc-goods-color__item.mc-bg-red.mc-active(href="#")
          a.mc-goods-color__item.mc-bg-darkblue(href="#")
          a.mc-goods-color__item.mc-bg-orange(href="#")
      .mc-goodscard 2
      .mc-goodscard 3
      .mc-goodscard 4
      .mc-goodscard 5
      .mc-goodscard 6
      .mc-goodscard 7
      .mc-goodscard 8
      .mc-goodscard 9
      .mc-goodscard 10
      .mc-goodscard 11
      .mc-goodscard 12
    .col-12.col-md-auto.order-md-first
      .justify-content-center.flex-row.flex-md-column.mc-goodsnavigation
        a.mc-goodsnavigation__prev(href="#")
          img(src="image/Icon_Goods_LeftArrow.svg" alt="Prev" width="22" height="16")
        p.mx-4.mc-goodsnavigation__page
          | 01
          span.mc-goodsnavigation__pagecount / 03
        a.order-md-first.mc-goodsnavigation__next(href="#")
          img(src="image/Icon_Goods_RightArrow.svg" alt="Next" width="22" height="16")
  .row
    .col
      .mx-auto.text-center.mc-banner
        p.mc-banner__logo
          img(src="image/Icon_Glasses.png" alt="" width="40" height="40")
        p.mc-banner__header Время таблиц
        p.mc-banner__text
          | Какой серьезный проект может обойтись без таблиц? Мы не сомневаемся, что ты умеешь
          | их верстать, попробуй реализовать такую таблицу.
  .row.no-gutters.mx-auto.p-0.justify-content-center.mc-plan
    .col-12.mx-auto
      table.mc-table
        thead
          tr
            th
            th
              .mc-planinfo
                p.mc-planinfo__logo
                  img(src="image/Icon_Planinfo_Standard.svg" alt="" width="27" height="53")
                p.mc-planinfo__header Стандартный
                p.mc-planinfo__text Это самый стандартный тариф, который подойдет для новых пользователей
            th
              .mc-planinfo
                p.mc-planinfo__logo
                  img(src="image/Icon_Planinfo_Optimal.svg" alt="" width="36" height="53")
                p.mc-planinfo__header Оптимальный
                p.mc-planinfo__text Это самый стандартный тариф, который подойдет для новых пользователей
            th
              .mc-planinfo
                p.mc-planinfo__logo
                  img(src="image/Icon_Planinfo_Premium.svg" alt="" width="34" height="53")
                p.mc-planinfo__header Премиум
                p.mc-planinfo__text Это самый стандартный тариф, который подойдет для новых пользователей
        tbody
          tr
            td Место на диске
            td 1 GB
            td 5 GB
            td 100 GB
          tr
            td Количество проектов
            td 1
            td 10
            td ∞
          tr
            td Пользователей в проекте
            td 2
            td 5
            td ∞
          tr
            td Интерактивное редактирование
            td
              span.mc-hardline —
            td
              img(src="image/Icon_Tick_Purple.svg" alt="Yes" width="16" height="12")
            td
              img(src="image/Icon_Tick_Magenta.svg" alt="Yes" width="16" height="12")
          tr
            td Техническая поддержка (в сутки)
            td 1 час
            td 3 часа
            td 12 часов
          tr
            td Премиум ресурсы
            td
              span.mc-hardline —
            td
              span.mc-hardline —
            td
              img(src="image/Icon_Tick_Magenta.svg" alt="Yes" width="16" height="12")
          tr
            td Отключение рекламы
            td
              span.mc-hardline —
            td
              img(src="image/Icon_Tick_Purple.svg" alt="Yes" width="16" height="12")
            td
              img(src="image/Icon_Tick_Magenta.svg" alt="Yes" width="16" height="12")
          tr
            td Приложения для iOS и Android
            td
              span.mc-hardline —
            td
              span.mc-hardline —
            td
              img(src="image/Icon_Tick_Magenta.svg" alt="Yes" width="16" height="12")
  .row
    .col
      .mx-auto.text-center.mc-banner
        p.mc-banner__logo
          img(src="image/Icon_Envelope.png" alt="" width="40" height="40")
        p.mc-banner__header Всё готово? Высылай нам!
        p.mc-banner__text
          | Когда всё будет готово, высылай архив с версткой или ссылку на облачный файл на
          | нашу почту, указав тему письма “Тестовое задание для верстальщиков”.
        p
          a.mc-banner__link(href="mailto:hr@freematiq.com" target="_blank") hr@freematiq.com

  include markup/footer.pug

include markup/script.pug
