.row.mx-auto.mc-footer
  .col-12.col-md-8 © 2019, Project N1 - Special for you, Все права защищены
  .col-12.col-md-4.text-md-right
    | Сделано во 
    a.mc-link(target="_blank" href="https://freematiq.com/") Freematiq
